@page "/businessdevelopment/clouddev"
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Navigations;
@inject IJSRuntime JSRuntime;

<div>
    <h4>
    Let the cloud help your business grow, and we can help with moving your business to the cloud.
    </h4>
    <p>
        Moving business to the cloud can help you with many things, such as helping upstream suppliers push deals on products, promooting services of business 
        partners. All of those things relies on the cloud services. Here is a list of services that can potentials benefits your business:
    </p>
    <ul>
        <li>Cloud storage</li>
        <li>Cloud computing</li>
        <li>Cloud hosting</li>
        <li>Cloud backup</li>
        <li>Cloud migration</li>
        <li>Cloud security</li>
        <li>Cloud monitoring</li>
        <li>Cloud networking</li>
        <li>Cloud storage</li>
        <li>Cloud computing</li>
        <li>Cloud hosting</li>
        <li>Cloud backup</li>
        <li>Cloud migration</li>
        <li>Cloud security</li>
        <li>Cloud monitoring</li>
        <li>Cloud networking</li>
    </ul>
    <p>
        If your business is not on the cloud, give us a call or come visit us, we can promise you with a website on the cloud as a starting station on your 
        cloud journey. 
    </p>
    <p>
        If it's a success, please allow us to share the success story with our other customers on this website, and please, give us a chance to share the promo 
        code with our customers. 
    </p>
</div>
