@page "/businessdevelopment/hardware"
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Navigations;
@inject IJSRuntime JSRuntime;

<div>
    <h4>Let's help you make the bulk purchases</h4>
    <p>
        A business needs to keep the hardware up and running, we can always help you to keep it local with our services. We can help you find the perfect 
        hardware to fit the business function and the budget. We can also help you with the bulk purchases and the installation of the hardware.
    </p>
    <p>
        As a business servicer, we love to take advantage of the developer kits and help you convert them into business machines. While you can enjoy the good 
        deals, we can practice our skills and help you with the installation and the maintenance of the hardware.
    </p>
    <p>
        of the top of my head, here is a list of reference hardware you can consider for your business for its features and price.
    </p>
</div>