@page "/businessdevelopment/software"
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Navigations;
@inject IJSRuntime JSRuntime;

<div>
    <h4>
        Let us help you with the software you need.
    </h4>
</div>