@page "/businessdevelopment/training"
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Navigations;
@inject IJSRuntime JSRuntime;

<div>
    <h4>
        We can promise you with the fact that your employees know what they are doing with the software you have invested in.
    </h4>
    <p>
        After a conversation with us, you will be informed about how software can improve your business's productivity and efficiency. Here, we have offers 
        on the follow-up trainings to you, and your employees.
    </p>
    <p>
        We can work with you for half a day, a full day, or even a week. We can also work with you for a longer period of time, if you want to. Just to make 
        sure that your employees are well trained and know how to use the software.
    </p>
</div>