@page "/businessdevelopment"
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Navigations;
@inject IJSRuntime JSRuntime

<div class="container" style="text-align-center">
    <SfCarousel Interval="2000">
        <ChildContent>
            <CarouselItem>
                <figure>
                    <a href="/businessdevelopment/clouddev">
                        <img src="https://compstoreimage.blob.core.windows.net/test/CloudDevBiz.png" alt="Cloud Development for business"
                        style="height:600px;width:1000px">
                    </a>
                </figure>
            </CarouselItem>
            <CarouselItem>
                <figure>
                    <a href="/businessdevelopment/hardware">
                        <img src="https://compstoreimage.blob.core.windows.net/test/HardwarePurchasing.png" alt="Bulk hardware purchasing"
                        style="height:600px;width:1000px">
                    </a>
                </figure>
            </CarouselItem>
            <CarouselItem>
                <figure>
                    <a href="/businessdevelopment/software">
                        <img src="https://compstoreimage.blob.core.windows.net/test/SoftwareConsulting.png" alt="Software Consulting Services"
                        style="height:600px;width:1000px">
                    </a>
                </figure>
            </CarouselItem>
            <CarouselItem>
                <figure>
                    <a href="/businessdevelopment/training">
                        <img src="https://compstoreimage.blob.core.windows.net/test/MicrosoftTraining.png" alt="Common Software Training"
                        style="height:600px;width:1000px">
                    </a>
                </figure>
            </CarouselItem>
        </ChildContent>
    </SfCarousel>
</div>

@code
{
    
}