@page "/homeproject"
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Navigations;
@inject IJSRuntime JSRuntime

<div>
    <SfCarousel>
        <CarouselItem>
            <figure>
                <img src="https://compstoreimage.blob.core.windows.net/test/HomeOffice.png" alt="Test">
            </figure>
        </CarouselItem>
    </SfCarousel>
</div>
@code{
    
}