@page "/"

<section class="main-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
            </div>
        </div>
    </div>
</section>

<section class="card">
    <div class=container>
        <div class=row>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="https://compstoreimage.blob.core.windows.net/test/DevBiz.png" alt="Business Development">
                    <div class="card-body">
                        <h5 class="card-title">Business Development</h5>
                        <p>
                            A team of consultants helps every business optimize the investment in IT and digitalization.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="https://compstoreimage.blob.core.windows.net/test/HomeOffice.png" alt="Home Office Setup">
                    <div class="card-body">
                        <h5 class="card-title">Home Office Setup</h5>
                        <p>
                            Help you plan the best desk setup for your home office.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <img src="https://compstoreimage.blob.core.windows.net/test/WiFiSafety.png" alt="Open-Source WiFi hardware">
                    <div class="card-body">
                        <h5 class="card-title">WiFi Hardware</h5>
                        <p>
                            A small compact device keep your WiFi safe and secure.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code{

}
