@page "/"

<section class="main-background">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <h1>
                    Welcome to you computer store
                </h1>
                <button class="btn-">
                    Tips on a good computer
                </button>
            </div>
        </div>
    </div>
</section>

@code{

}
