@page "/personalproject";

<div class="container" style="text-align-center">
    <SfCarousel Interval="2000">
        <ChildContent>
            <CarouselItem>
                <figure class=>
                    <img src="https://compstoreimage.blob.core.windows.net/test/WiFiSafety.png" alt="Wi-Fi Safety Shields"
                    style="height:600px;width:1000px">
                </figure>
            </CarouselItem>
            <CarouselItem>
                <figure>
                    <img src="https://compstoreimage.blob.core.windows.net/test/ProgramKnowledgeSharing.png" alt="Knowledge Sharing Sessions"
                    style="height:600px;width:1000px">
                </figure>
            </CarouselItem>
        </ChildContent>
    </SfCarousel>
</div>

<div>
    
</div>
