<footer class="container-fluid bg-dark text-white py-3">
  <div class="row">
    <div class="col-md-4">
      <p class="mt-2">Computer Store is your one-stop shop for all your computing needs. We offer a wide range of products and services, from laptops and desktops to accessories and repairs. Whether you need a new computer, an upgrade, or a fix, we have you covered.</p>
    </div>
    <div class="col-md-4">
      <h4 class="text-uppercase">Quick Links</h4>
      <ul class="list-unstyled">
        <li><a href="#" class="text-white">Home</a></li>
        <li><a href="#" class="text-white">Products</a></li>
        <li><a href="#" class="text-white">Services</a></li>
        <li><a href="#" class="text-white">About Us</a></li>
        <li><a href="#" class="text-white">Contact Us</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 class="text-uppercase">Contact Us</h4>
      <p><i class="fas fa-map-marker-alt"></i> 123 Main Street, Anytown, USA</p>
      <p><i class="fas fa-phone"></i> (123) 456-7890</p>
      <p><i class="fas fa-envelope"></i> info@computerstore.com</p>
      <p><i class="fas fa-clock"></i> Mon-Fri: 9:00 AM - 6:00 PM, Sat: 10:00 AM - 4:00 PM, Sun: Closed</p>
      <div class="mt-2">
        <a href="#" class="text-white"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="#" class="text-white"><i class="fab fa-twitter-square fa-2x"></i></a>
        <a href="#" class="text-white"><i class="fab fa-instagram-square fa-2x"></i></a>
        <a href="#" class="text-white"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <p class="mt-2">&copy; 2023 Computer Store. All rights reserved.</p>
    </div>
  </div>
</footer>