@inherits LayoutComponentBase

<PageTitle>WebUi</PageTitle>

<div class="page">
    
    <NavBar/>

    <main>
        <article class="content content-expand-lg">
            @Body
        </article>
    </main>
    
    <footer>
        <Footer/>
    </footer>
</div>
