@page "/homeproject/homeoffice"
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Navigations;
@inject IJSRuntime JSRuntime;

<div>
    <h4>
        Welcome to the home office setup guide.
    </h4>
    <p>
        As an era of remote working, a good home-office may be the key to a comfy and productive workday. Here, you can find the components to an 
        ideal home office setup.
    </p>
    <p>
        A good home office contains a desk, a chair, a desktop-setup, a power-chord, a lamp, and a reliable Wi-Fi router offering the Wi-Fi for the Money.
    </p>
    <p>
        As an IT store, we typically don't offer the desk and the chair. However, we can offer some references to those products.
    </p>

    <div class="list-group">
        <a href="https://www.lifehack.org/875851/work-desk">
            List of good desks from lifehack.com
        </a>
        <a href="https://pcdelight.com/how-to-choose-gaming-chair/">
            List of good chairs from pcdelight.com
        </a>
    </div>
    <p>
        With the best respect, we can offer the following products for your home office setup.
    </p>
</div>

<div>

</div>

@code
{

}

