@page "/homeproject/homeiot"
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Navigations;
@inject IJSRuntime JSRuntime

<div>
    <h4>
        Welcome to your own home IoT project!
    </h4>
    <p>
        Lots of components in home can be automated using the concept of IoT, here is a simple list of projects you can do or ask us to help.
    </p>
    <div>
    </div>
</div>