@page "/homeproject/wifi"
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Navigations;
@inject IJSRuntime JSRuntime;

<div>
    <h4>We can help on your home Wi-Fi setup</h4>
    <p>
        A secure Wi-Fi network is the foundation of your smart home. As no-one wants to enjoy the accident connection between the neighbor's router to the 
        in-home lights at 3 am. We can help you to set up a secure Wi-Fi network for your home with the help of open-source router firmware like OpenWRT.
    </p>
    <p>
        Here are some products we sell and service. We buy the developer's board and the shell, and we flash the firmware into it. After we successfully 
        repeat our own Wi-Fi signal here, we will train you how to use it before you walk out of our store.
    </p>
    <p>
        Here are a list of developer's board in our store, please have a look and we will be happy to help you.
    </p>
</div>

@code
{

}