@page "/homeproject/power"
@using Syncfusion.Blazor;
@using Syncfusion.Blazor.Navigations;
@inject IJSRuntime JSRuntime;

<div>
    <h4>
        You may need an uniterruptable power supply station.
    </h4>
    <p>
        I would bet on the fact that small business owners are fully aware of the importance of UPS mailbox, while not many work-from-home working people 
        are aware of the importance of uninterruptable power supply (UPS) stations.
    </p>
    <p>
        Lots of events can trigger a power outage, and it is not always possible to predict when it will happen. Like a thunderstorm, an earth-quake, 
        even a heavy-rain event in Nashua can cause a power outage in blocks of streets. If your desktop is not protected and it is with your work or 
        gaming data, we would recommend you to do so. As half a minute of power supply can provide you with the time to save your work and shut down properly.
    </p>
    <p>
        Without further ado, here are the lists of UPS stations we would like you to have a look.
    </p>
</div>

@code
{
    
}